<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma.min.css">
    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/all.js"></script>
    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/jquery-1.11.1.js"></script>

    <style>
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                首页
            </a>
            <div id="iNotify"></div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">主关键词</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="主关键词" id="iKeywordMain">
                    </div>
                </div>
                <div class="field">
                    <label class="label">是否回答</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="是否回答" id="iAnswered">
                    </div>
                </div>
                <div class="field">
                    <label class="label">是否为updated</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="是否为updated" id="iUpdated">
                    </div>
                </div>
                <div class="field">
                    <label class="label">模糊</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="是否模糊" id="iLike" value=true>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">主关键词</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="主关键词" id="iBaiduKeywordMain">
                    </div>
                </div>
                <div class="field">
                    <label class="label">关键词列表</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="关键词列表" id="iBaiduSearchKeywords">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Cookie</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Cookie" id="iBaiduSearchCookie">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-success" id="iBtnSubmit">查询</button>
            </div>
            <div class="control">
                <button class="button is-info" id="iBtnBaidu">百度</button>
            </div>
        </div>
        <div class="field">
            <table class="table is-bordered" id="iTable">
                <col width="5%">
                <col width="15%">
                <col width="15%">
                <col width="30%">
                <col width="20%">
                <col width="15%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>主关键词</th>
                    <th>关键词</th>
                    <th>标题</th>
                    <th>原始链接</th>
                    <th>知乎链接</th>
                    <th>回答</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody id="iTableBody">
                </tbody>
            </table>
        </div>
    </div>

</section>

<script>

    $('#iBtnSubmit').click(function () {
        $('#iBtnSubmit').addClass('is-loading');
        //333995687
        let keywordMain = $("#iKeywordMain").val();
        let answered = $("#iAnswered").val();
        let updated = $("#iUpdated").val();
        let like = $("#iLike").val();

        let url = "/baidu/list"//?id=" + qid + '&limit=' + limit;

        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                keywordMain: keywordMain,
                answered: answered,
                updated: updated,
                like: like
            },
            success: function (data) {
                $('#iBtnSubmit').removeClass('is-loading');
                renderTable(data)
            },
            error: function () {
                $('#iBtnSubmit').removeClass('is-loading');
            }
        });

    });

    function renderTable(data) {

        let arr = [];
        if (data != null) {
            arr = data.data;
        } else {
            return
        }
        //data is arr
        $('#iTableBody').empty();

        if (arr != null && arr.length > 0) {
            $.each(arr, function (i, item) {
                /*
                                    <th>#</th>
                    <th>主关键词</th>
                    <th>关键词</th>
                    <th>标题</th>
                    <th>原始链接</th>
                    <th>知乎链接</th>
                    <th>回答</th>
                    <th>操作</th>
                 */
                let td0 = document.createElement("td");
                $(td0).text(i + 1);

                let tdKeywordMain = document.createElement("td");
                $(tdKeywordMain).text(item.keywordMain + '#' + item.id)

                let tdKeyword = document.createElement("td");
                $(tdKeyword).text(item.keywords)

                let tdTitle = document.createElement("td");
                $(tdTitle).text(item.title)

                let tdBaiduLink = document.createElement("td");
                let tdBaiduLinkA = document.createElement("a");
                $(tdBaiduLinkA).text("百度原链").attr("href", item.linkRaw).attr("target", "_blank");
                $(tdBaiduLink).append(tdBaiduLinkA)

                let tdZhihuReal = document.createElement("td");
                let tdZhihuRealA = document.createElement("a");
                if (item.linkRealUpdate === null) {
                    $(tdZhihuRealA).text("知乎链接").attr("href", item.linkReal).attr("target", "_blank");

                } else {
                    $(tdZhihuRealA).text("知乎链接").attr("href", item.linkRealUpdate).attr("target", "_blank");
                    $(tdZhihuReal).addClass("is-primary")
                }
                $(tdZhihuReal).append(tdZhihuRealA)
                if (item.answered === 1) {
                    $(tdZhihuReal).addClass("has-background-primary");
                }

                let tdOp = document.createElement("td");
                let tdOpBtn = document.createElement("button");
                $(tdOpBtn).addClass("button").addClass("is-info").attr("id", item.id).text("回答");
                $(tdOp).append(tdOpBtn);

                let tdTime = document.createElement("td");
                $(tdTime).text(item.createTime);

                let $tr = $('<tr>').append(
                    td0,
                    tdKeywordMain,
                    tdKeyword,
                    tdTitle,
                    tdBaiduLink,
                    tdZhihuReal,
                    tdOp,
                    tdTime
                );
                $("#iTableBody").append($tr);
            });
            $('#iTableBody button').click(this, op);
        }
    }

    function op(event) {
        let item = event.currentTarget;
        console.log(item.id)

        $('#' + item.id).addClass("is-loading");

        let url = "/baidu/list/update"//?id=" + qid + '&limit=' + limit;

        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                id: item.id
            },
            success: function () {
                $('#' + item.id).removeClass('is-loading');
            },
            error: function () {
                $('#' + item.id).removeClass('is-loading');
            }
        });
    }

    $('#iBtnBaidu').click(function () {
        $('#iBtnBaidu').addClass('is-loading');
        //333995687
        let obj = new Object();
        obj.keywordMain = $("#iBaiduKeywordMain").val().replace(/"/g,'');
        obj.keywords = $("#iBaiduSearchKeywords").val().replace('["','').replace('"]','').split('","');
        obj.cookie = $("#iBaiduSearchCookie").val();

        let url = "/baidu/search/keyword"//?id=" + qid + '&limit=' + limit;

        $.ajax({
            url: url,
            type: "POST", //send it through get method
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                $('#iBtnBaidu').removeClass('is-loading');
            },
            error: function () {
                $('#iBtnBaidu').removeClass('is-loading');
            }
        });
    })

</script>
</body>