<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma.min.css">

    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/all.js"></script>
    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/jquery-1.11.1.js"></script>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                首页
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="field is-grouped">
            <div class="control is-expanded">
                <input id="iSearchBookName" class="input" type="text" placeholder="书名">
            </div>
            <div class="control">
                <input id="iSearchBookAuthor" class="input" type="text" placeholder="作者">
            </div>

            <div class="control">
                <label class="radio">
                    <input type="radio" name="like">
                    模糊
                </label>
            </div>
            <div class="control">
                <button class="button is-info" id="iBtnSearchBook">
                    查找
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="field">
            <table class="table is-hoverable is-bordered is-fullwidth" id="iTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>译者</th>
                    <th>出版社</th>
                </tr>
                </thead>
                <tbody id="iTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="container" id="iBookInfo">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="number" placeholder="ID">
            </div>
            <div class="control is-expanded">
                <input class="input is-info" type="text" placeholder="书名">
            </div>
            <div class="control">
                <input class="input" type="text" placeholder="原名">
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">作者</label>
                    <div class="control">
                        <input class="input is-info" type="text" placeholder="作者">
                    </div>
                </div>
                <div class="field">
                    <label class="label">译者</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="译者">
                    </div>
                </div>
                <div class="field">
                    <label class="label">出版社</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="出版社">
                    </div>
                </div>
                <div class="field">
                    <label class="label">分类</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="分类">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">

                <div class="field">
                    <label class="label">京东页面</label>
                    <div class="control">
                        <input class="input is-danger" type="text" placeholder="京东页面">
                    </div>
                </div>
                <div class="field">
                    <label class="label">长链</label>
                    <div class="control">
                        <input class="input is-danger" type="text" placeholder="联盟长链接">
                    </div>
                </div>
                <div class="field">
                    <label class="label">短链接</label>
                    <div class="control">
                        <input class="input is-danger" type="text" placeholder="联盟长链接">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">淘宝页面</label>
                    <div class="control">
                        <input class="input is-warning" type="text" placeholder="淘宝页面">
                    </div>
                </div>
                <div class="field">
                    <label class="label">长链</label>
                    <div class="control">
                        <input class="input is-warning" type="text" placeholder="联盟长链接">
                    </div>
                </div>
                <div class="field">
                    <label class="label">短链接</label>
                    <div class="control">
                        <input class="input is-warning" type="text" placeholder="联盟长链接">
                    </div>
                </div>

            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">豆瓣页面</label>
                    <div class="control">
                        <input class="input is-success" type="text" placeholder="豆瓣页面">
                    </div>
                </div>
                <div class="field">
                    <label class="label">命令</label>
                    <div class="control">
                        <input class="input is-danger" type="text" placeholder="命令" id="iCmd">
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button is-success" id="iBtnSave">添加</button>
            <button class="button" id="iBtnUpdate">修改</button>
            <button class="button" id="iBtnCmd">解析</button>
        </div>
    </div>
</section>

<script>


    $('#iBtnSearchBook').click(function () {
        let bookName = $("#iSearchBookName").val();
        let bookAuthor = $("#iSearchBookAuthor").val();
        let like = $("input[name=like]:checked").val();

        if ("" === bookName && "" === bookAuthor) {
            alert("书名、作者 不能同时为空")
        } else {
            let url = "/book/search";
            $('#iBtnSearchBook').addClass('is-loading');
            $.ajax({
                url: url,
                type: "get", //send it through get method
                data: {
                    bookName: bookName,
                    bookAuthor: bookAuthor,
                    like: like
                },
                success: function (response) {
                    renderTable(response)
                }
            });
        }
    });

    function renderTable(data) {
        $('#iBtnSearchBook').removeClass('is-loading');
        let arr = [];
        if (data != null) {
            arr = data.data;
        } else {
            return
        }
        //data is arr
        $('#iTableBody').empty();
        if (arr != null && arr.length > 0) {
            $.each(arr, function (i, item) {
                item.id;
                item.bookName;
                item.bookAuthor;
                item.bookAuthorTranslate;
                item.bookPress;

                let $tr = $('<tr>').append(
                    $('<td>').text(i + 1),
                    $('<td>').text(item.id),
                    $('<td>').text(item.bookName),
                    $('<td>').text(item.bookAuthor),
                    $('<td>').text(item.bookAuthorTranslate),
                    $('<td>').text(item.bookPress)
                );
                $("#iTableBody").append($tr);
            });
        }

    }

    $('#iBtnSave').click(function () {
        let obj = getBookInfo();
        let url = "/book/save";
        console.log(JSON.stringify(obj));
        $.ajax({
            url: url,
            type: "POST", //send it through get method
            data: JSON.stringify(obj),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function (response) {
                if (response['code'] === 0){
                    alert('添加成功')
                }else {
                    alert(JSON.stringify(response))
                }
            }
        });
    });


    $('#iBtnUpdate').click(function () {
        let obj = getBookInfo();
        let url = "/book/update";
        console.log(JSON.stringify(obj));
        $.ajax({
            url: url,
            type: "POST", //send it through get method
            data: JSON.stringify(obj),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function (response) {
                if (response['code'] === 0){
                    alert('添加成功')
                }else {
                    alert(JSON.stringify(response))
                }
            }
        });
    });

    function getBookInfo() {
        let inputArr = $('#iBookInfo').find("input");
        let obj = new Object();
        obj.id = inputArr[0].value;
        obj.bookName = inputArr[1].value.trim();
        obj.bookNameRaw = inputArr[2].value.trim();
        obj.bookAuthor = inputArr[3].value.trim();
        obj.bookAuthorTranslate = inputArr[4].value.trim();
        obj.bookPress = inputArr[5].value.trim();
        obj.bookType = inputArr[6].value.trim();
        obj.jdLink = inputArr[7].value.trim();
        obj.jdLinkUnionLong = inputArr[8].value.trim();
        obj.jdLinkUnionShort = inputArr[9].value.trim();
        obj.tbLink = inputArr[10].value.trim();
        obj.tbLinkUnionLong = inputArr[11].value.trim();
        obj.tbLinkUnionShort = inputArr[12].value.trim();
        obj.doubanLink = inputArr[13].value.trim();
        return obj;
    }

    $('#iBtnCmd').click(function () {
        let cmd = $('iCmd').val().trim();

    })


</script>
</body>