<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma-calendar.min.css">
    <link rel="stylesheet" href="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma.min.css">

    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/all.js"></script>
    <script type="text/javascript"
            src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma-calendar.min.js"></script>
    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <style>
        #iNotify {
            position: absolute;
            left: 20%;
            bottom: 90%;
            right: 20%;
            top: 10%;
            margin: auto;
            z-index: 999999;
        }
    </style>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                首页
            </a>
            <div id="iNotify"></div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">问题id</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="问题id" id="qid" value="333995687">
                    </div>
                </div>
                <div class="field">
                    <label class="label">最大数量</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="最大数量" id="iLimit">
                    </div>
                </div>
                <div class="field">
                    <label class="label">开始</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="分页开始" id="iStart">
                    </div>
                </div>
                <div class="field">
                    <label class="label">结束</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="分页结束" id="iEnd">
                    </div>
                </div>
                <div class="field">
                    <label class="label">排序</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="分页结束" id="iSort">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" id="iBtnSubmit">查询</button>
            </div>
            <div class="control">
                <button class="button" id="iModalOpen">open</button>
            </div>
        </div>
        <div class="field">
            <table class="table is-bordered" id="iTable">
                <col width="5%">
                <col width="20%">
                <col width="40%">
                <col width="20%">
                <col width="15%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>书名</th>
                    <th>回答者</th>
                    <th>额外</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="iTableBody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal" id="iModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Book</p>
                <button class="delete" aria-label="close" id="iModalClose"></button>
            </header>
            <section class="modal-card-body">
                <div class="container">
                    <div class="field has-addons ">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="书名" id="iSearchBookName">
                        </div>
                        <div class="control">
                            <input class="input" type="text" placeholder="作者" id="iSearchBookAuthor">
                        </div>
                        <div class="control">
                            <button class="button is-info" id="iBtnSearchBook">查找</button>
                        </div>
                        <div class="control">
                            <button class="button is-success" id="iBtnBind">绑定</button>
                        </div>
                        <div class="control">
                            <button class="button" id="iBtnUnbind">解绑</button>
                        </div>
<!--                        <div class="control">-->
<!--                            <label class="radio">-->
<!--                                <input type="radio" name="like">-->
<!--                            </label>-->
<!--                        </div>-->
                    </div>
                </div>

                <HR>
                <div class="container">
                    <div class="field is-horizontal">
                        <div class="field-body" id="iBookInfo">
                            <div class="field">
                                <label class="label">当前Id</label>
                                <input class="input" type="text" readonly placeholder="当前Id">
                            </div>
                            <div class="field">
                                <div class="control is-expanded">
                                    <label class="label">当前书名</label>
                                    <input class="input" type="text" readonly placeholder="当前书名">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control is-expanded">
                                    <label class="label">目标Id</label>
                                    <input class="input" type="number" placeholder="目标Id" id="iLinkId">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="field">
                        <table class="table is-hoverable is-bordered is-fullwidth" id="iModalTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>书名</th>
                                <th>作者</th>
                                <th>译者</th>
                                <th>出版社</th>
                            </tr>
                            </thead>
                            <tbody id="iModalTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal" id="iModelContent">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">回答文字
                    <img id="iModelContentImg" src="#" width="32px" height="32px" loading="lazy" class="is-rounded">
                </p>
                <button class="delete" aria-label="close" id="iModelContentClose"></button>
            </header>
            <section class="modal-card-body">
                <div class="container">
                    <div class="field">
                        <textarea id="iModelContentTextarea" class="textarea" placeholder="e.g. Hello world" rows="20"></textarea>
                    </div>
                </div>
            </section>
        </div>
    </div>


</section>

<script>

    $('#iBtnSubmit').click(function () {
        $('#iBtnSubmit').addClass('is-loading');
        //333995687
        let qid = $("#qid").val();
        let limit = $("#iLimit").val();
        let start = $("#iStart").val();
        let end = $("#iEnd").val();
        let sort = $("#iSort").val();
        let url = "/zhihu/answer/book"//?id=" + qid + '&limit=' + limit;

        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                qid: qid,
                limit: limit,
                start: start,
                end: end,
                sort: sort,
            },
            success: function (data) {
                renderTable(data)
            },
            error: function () {
                $('#iBtnSubmit').removeClass('is-loading');
            }
        });

    });

    function renderTable(data) {
        $('#iBtnSubmit').removeClass('is-loading');
        let arr = [];
        if (data != null) {
            arr = data.data;
        } else {
            return
        }
        //data is arr
        $('#iTableBody').empty();
        if (arr != null && arr.length > 0) {

            $.each(arr, function (i, item) {

                let bookName = item.bookName;
                let authorIconUrlArr = item.authorIconUrl;
                let authorAnswerUrlArr = item.authorAnswerUrl;
                let _answerAuthor = document.createElement('td');
                for (let j = 0; j < authorIconUrlArr.length; j++) {
                    let _a = document.createElement("a");
                    _a.href = authorAnswerUrlArr[j];
                    $(_a).attr('target', '_blank');
                    let _img = document.createElement("img");
                    _img.src = authorIconUrlArr[j];
                    $(_img).attr('width', '32px').attr('height', '32px').attr('loading', 'lazy').attr('class', 'is-rounded');
                    $(_a).append(_img);
                    $(_answerAuthor).append(_a);
                }

                let authorAnotherIconUrlArr = item.authorAnotherIconUrl;
                let authorAnswerAnotherUrlArr = item.authorAnswerAnotherUrl;
                let _answerAuthorAnother = document.createElement('td');
                for (let j = 0; j < authorAnotherIconUrlArr.length; j++) {
                    let _a = document.createElement("a");
                    $(_a).attr('target', '_blank');

                    _a.href = authorAnswerAnotherUrlArr[j];
                    let _img = document.createElement("img");
                    _img.src = authorAnotherIconUrlArr[j];
                    $(_img).attr('width', '32px').attr('height', '32px').attr('loading', 'lazy').attr('class', 'is-rounded');
                    $(_a).append(_img);
                    $(_answerAuthorAnother).append(_a);
                }

                let _op = document.createElement('td');
                let btnDiv = document.createElement('div');
                $(btnDiv).addClass("buttons").addClass("has-addons");
                let btnAdd = document.createElement('button');
                $(btnAdd).addClass("button").addClass("is-small").addClass("add").addClass("is-success").text("增");
                let btnUpdate = document.createElement('button');
                $(btnUpdate).addClass("button").addClass("is-small").addClass("update").addClass("is-info").text("改");
                let btnIgnore = document.createElement('button');
                $(btnIgnore).addClass("button").addClass("is-small").addClass("ignore").addClass("is-grey").text("忽");
                $(btnDiv).append(btnAdd).append(btnUpdate).append(btnIgnore);
                $(_op).append(btnDiv);

                let td0 = document.createElement("td");
                $(td0).text(i + 1);
                if (item.db === 1) {

                    if (item.link === 1) {
                        $(td0).addClass("is-success")
                    } else {
                        $(td0).addClass("is-info")
                    }
                }

                let tdBookName = document.createElement("td");
                $(tdBookName).text(bookName);
                $(tdBookName).dblclick(this, renderModal);

                let $tr = $('<tr>').append(
                    td0,
                    tdBookName,
                    _answerAuthor,
                    _answerAuthorAnother,
                    _op
                );


                $("#iTableBody").append($tr);
            });

            $('#iTableBody a').click(this, move);
            $('#iTableBody a').contextmenu(this, showContent);
            $('#iTableBody button').click(this, op);
        }

    }

    function showContent(event) {
        //获取内容，展示模态框
        event.preventDefault();
        let item = event.currentTarget;
        let src = item.firstChild.src;
        $("#iModelContentImg").attr("src",src);


        let arr = item.href.split('/');
        let id = arr[arr.length-1];

        let url = "/zhihu/answer/content";
        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                id: id
            },
            success: function (response) {
                $('#iModelContent').addClass("is-active");
                $('#iModelContentTextarea').text("").text(response.data);
            }
        });

    }

    function move(event) {
        console.log(event);
        event.preventDefault();
        let item = event.currentTarget;
        let index = $(item.parentElement).index();
        // notify(index);
        if (index === 3) {//第四个 向左移动
            item.parentElement.previousElementSibling.append(item);
        }
        if (index === 2) {//第三个 向右移动
            item.parentElement.nextElementSibling.append(item);
        }
    }

    function renderModal(event) {
        $("input:radio[name='like']").prop("checked", false);
        $('#iModal').addClass('is-active');
        //
        let inputArr = $('#iBookInfo').find("input");

        // let item = event.currentTarget;
        let bookName = event.currentTarget.innerText;
        let qid = $("#qid").val();
        let id = CryptoJS.MD5(bookName + qid).toString();

        $(inputArr[0]).val(id);
        $(inputArr[1]).val(bookName);
        $('#iSearchBookName').val(bookName);
    }

    function op(event) {
        let item = event.currentTarget;
        let obj = getZhihuBookObj(item);
        console.log("op obj=" + JSON.stringify(obj));
        let url = "";
        if (item.innerText === '增') {
            url = "/zhihu/book/add";
        }
        if (item.innerText === '改') {
            url = "/zhihu/book/update";
        }
        if (item.innerText === '忽') {
            url = "/zhihu/book/ignore";
            obj.valid = 0;
        }

        $.ajax({
            url: url,
            type: "POST", //send it through get method
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response['code'] === 0) {
                    alert('成功')
                } else {
                    alert(JSON.stringify(response))
                }
            }
        });

    }

    function getZhihuBookObj(item) { //item 为button
        let tr = item.parentNode.parentNode.parentNode;
        let tdArr = $(tr).find("td");

        let authorIconList = [];
        let authorNameList = [];
        $.each($(tdArr[2]).find("a"), function (index, item) {
            authorNameList.push(item.href);
            authorIconList.push(item.firstChild.src);
        });
        let authorAllIconList = [];
        let authorAllNameList = [];
        $.each($(tdArr[3]).find("a"), function (index, item) {
            authorAllNameList.push(item.href);
            authorAllIconList.push(item.firstChild.src);
        });

        let obj = new Object();
        obj.bookNameAnswer = tdArr[1].innerText;
        obj.authorIconList = authorIconList;
        obj.authorNameList = authorNameList;
        obj.authorAllIconList = authorAllIconList;
        obj.authorAllNameList = authorAllNameList;
        let qid = $("#qid").val();
        let id = CryptoJS.MD5(obj.bookNameAnswer + qid).toString();
        obj.id = id;
        obj.valid = 1;
        obj.zhihuQuestionId = qid;

        return obj;
    }

    $('#iBtnSearchBook').click(function () {
        let bookName = $("#iSearchBookName").val();
        let bookAuthor = $("#iSearchBookAuthor").val();
        // let like = $("input[name=like]:checked").val();

        if ("" === bookName && "" === bookAuthor) {
            alert("书名、作者 不能同时为空")
        } else {
            let url = "/book/search";
            $('#iBtnSearchBook').addClass('is-loading');
            $.ajax({
                url: url,
                type: "get", //send it through get method
                data: {
                    bookName: bookName,
                    bookAuthor: bookAuthor,
                    like: true
                },
                success: function (response) {
                    renderModalTable(response)
                }
            });
        }
    });

    function renderModalTable(data) {
        $('#iBtnSearchBook').removeClass('is-loading');
        let arr = [];
        if (data != null) {
            arr = data.data;
        } else {
            return
        }
        //data is arr
        $('#iModalTableBody').empty();
        if (arr != null && arr.length > 0) {
            $.each(arr, function (i, item) {
                if (i === 0) {
                    $('#iLinkId').val(item.id);
                }

                let $tr = $('<tr>').append(
                    $('<td>').text(i + 1),
                    $('<td>').text(item.id),
                    $('<td>').text(item.bookName),
                    $('<td>').text(item.bookAuthor),
                    $('<td>').text(item.bookAuthorTranslate),
                    $('<td>').text(item.bookPress)
                );
                $("#iModalTableBody").append($tr);
            });
        }

    }

    $('#iBtnBind').click(function () {
        let url = "/zhihu/book/bind";
        let inputArr = $('#iBookInfo').find("input");
        bindOrUnbind(url, inputArr[0].value, inputArr[2].value)
    });
    $('#iBtnUnbind').click(function () {
        let url = "/zhihu/book/unbind";
        let inputArr = $('#iBookInfo').find("input");
        bindOrUnbind(url, inputArr[0].value, inputArr[2].value)
    });

    function bindOrUnbind(url, sourceId, targetId) {
        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                sourceId: sourceId,
                targetId: targetId
            },
            success: function (response) {
                alert(JSON.stringify(response))
            }
        });
    }

    $('#iModalOpen').click(function () {
        notify('test')
    });

    $('#iModalClose').click(function () {
        $('#iModal').removeClass('is-active');
    });

    $('#iModelContentClose').click(function () {
        $('#iModelContent').removeClass('is-active');
    });

    function notify(data) {
        let div = document.createElement("div");
        $(div).addClass("notification").addClass("is-primary").addClass('is-light');
        let btn = document.createElement("button");
        $(btn).addClass('delete');
        $(div).text(JSON.stringify(data));
        $(div).append(btn);
        $('#iNotify').append(div)

        let id = setInterval(function () {
            clearInterval(id)
            $('.notification').remove();
        }, 1000);
    }

    $('.modal-background').click(function(){
        $('.modal-background').removeClass("is-active")
    })
</script>
</body>