<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma-calendar.min.css">
    <link rel="stylesheet" href="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma.min.css">

    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/all.js"></script>
    <script type="text/javascript"
            src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/bulma-calendar.min.js"></script>
    <script type="text/javascript" src="https://dwdcsv.oss-cn-shanghai.aliyuncs.com/fintech/jquery-1.11.1.js"></script>
<!--    <script src="/js/echarts.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/dist/echarts.min.js"></script>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                首页
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<section class="section" id="iSelect">
    <div class="container ">
        <div class="field is-horizontal">

            <div class="field-body">
                <div class="field-label">
                    <label class="label">起</label>
                </div>
                <div class="field">
                    <p>
                        <input class="control" type="text" id="iStartDate" placeholder="yyyy-MM-dd">
                        <input class="control" type="text" id="iStartTime" placeholder="HH:mm:ss">
                    </p>
                </div>

                <div class="field-label">
                    <label class="label">止</label>
                </div>
                <div class="field">
                    <p>
                        <input class="control" type="text" id="iEndDate" placeholder="yyyy-MM-dd">
                        <input class="control" type="text" id="iEndTime" placeholder="HH:mm:ss">
                    </p>
                </div>
                <div class="field">
                    <input class="input is-small control" type="text" id="iMin" placeholder="最小值">
                </div>
                <div class="field">
                    <input class="input is-small control has-background-primary" type="text" id="iLast" value="0"
                           placeholder="最近">
                </div>
                <div class="field">
                    <input class="input is-small control" type="text" id="iPlat" placeholder="平台">
                </div>
                <div class="field">
                    <button class="button is-primary control" id="ibQuery">
                        确认
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="field is-horizontal">

            <div class="field-body">

                <div class="field">
                    <label class="label">Buy 开多/平空
                        <input class="input control" type="text" id="iBuySum" placeholder="总买">
                    </label>
                </div>

                <div class="field">
                    <label class="label">Sell 开空/平多
                        <input class="input control" type="text" id="iSellSum" placeholder="总卖">
                    </label>
                </div>
                <div class="field">
                    <label class="label">净值(buy-sell)
                        <input class="input control" type="text" id="iSum" placeholder="净值">
                    </label>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="section">
    <div class="container">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="iK" style="width: 1280px;height:720px;">

        </div>
    </div>
</section>


<section class="section" id="iResult">
    <div class="container">
        <table class="table is-striped is-hoverable is-fullwidth ">
            <thead>
            <tr>
                <th>#</th>
                <th>时间</th>
                <th>平台</th>
                <th>开多/平空</th>
                <th>价格</th>
                <th>数量</th>
                <th>开空/平多</th>
                <th>价格</th>
                <th>数量</th>
            </tr>
            </thead>
            <tbody id="iTable">
            </tbody>
        </table>
    </div>


</section>


<script src="/js/laydate/laydate.js"></script> <!-- 改成你的路径 -->
<script>
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('iK'));
    myChart.showLoading();
    function k(result) {
        myChart.hideLoading();
        var colorList = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'];
        var labelFont = 'bold 12px Sans-serif';


        var dates = result.data.dates;
        var data = result.data.data;
        var volumes = result.data.volumes;
        var buy_volumes = result.data.buyList;
        var sell_volumes = result.data.sellList;
        var all_volumes = result.data.allVolumes;

        var dataMA5 = calculateMA(5, data);
        var dataMA10 = calculateMA(10, data);
        var dataMA20 = calculateMA(20, data);

        var option = {
            animation: false,
            color: colorList,
            title: {
                left: 'center',
                text: '大单K线'
            },
            legend: {
                top: 30,
                data: ['K', 'MA5', 'MA10', 'MA20', 'MA30']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
                transitionDuration: 0,
                confine: true,
                bordeRadius: 4,
                borderWidth: 1,
                borderColor: '#333',
                backgroundColor: 'rgba(255,255,255,0.9)',
                textStyle: {
                    fontSize: 12,
                    color: '#333'
                },
                position: ['85%', '10%']
            },
            axisPointer: {
                link: [{
                    xAxisIndex: [0, 1,2]
                }]
            },
            dataZoom: [{
                type: 'slider',
                xAxisIndex: [0, 1,2],
                realtime: false,
                start: 50,
                end: 100,
                top: 65,
                height: 20,
                handleSize: '120%'
            }, {
                type: 'inside',
                xAxisIndex: [0, 1,2],
                start: 40,
                end: 70,
                top: 30,
                height: 20
            }],
            xAxis: [{
                type: 'category',
                data: dates,
                boundaryGap : true,
                axisLine: { lineStyle: { color: '#777' } },
                axisLabel: {
                    formatter: function (value) {
                        return echarts.format.formatTime('MM-dd hh:mm', value);
                    }
                },
                min: 'dataMin',
                max: 'dataMax',
                axisPointer: {
                    show: true
                }
            }, {
                type: 'category',
                gridIndex: 1,
                data: dates,
                scale: true,
                boundaryGap : true,
                splitLine: {show: true},
                axisLabel: {show: false},
                axisTick: {show: false},
                axisLine: { lineStyle: { color: '#777' } },
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax',
                axisPointer: {
                    type: 'shadow',
                    label: {show: false},
                    triggerTooltip: true,
                    handle: {
                        show: false,
                        margin: 30,
                        color: '#B80C00'
                    }
                }
            }, {
                type: 'category',
                gridIndex: 2,
                data: dates,
                scale: true,
                boundaryGap : true,
                splitLine: {show: true},
                axisLabel: {show: true},
                axisTick: {show: false},
                axisLine: { lineStyle: { color: '#777' } },
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax',
                axisPointer: {
                    type: 'shadow',
                    label: {show: true},
                    triggerTooltip: true,
                    handle: {
                        show: true,
                        margin: 30,
                        color: '#B80C00'
                    }
                }
            }],
            yAxis: [{
                scale: true,
                splitNumber: 2,
                axisLine: { lineStyle: { color: '#777' } },
                splitLine: { show: true },
                axisTick: { show: false },
                axisLabel: {
                    inside: false,
                    formatter: '{value}\n'
                }
            }, {
                scale: true,
                gridIndex: 1,
                splitNumber: 2,
                axisLabel: {show: true,},
                axisLine: {show: true},
                axisTick: {show: true},
                splitLine: {show: true}
            }, {
                scale: true,
                gridIndex: 2,
                splitNumber: 2,
                axisLabel: {show: true,},
                axisLine: {show: true},
                axisTick: {show: true},
                splitLine: {show: true}
            }],
            grid: [{
                left: '2%',
                right: '15%',
                top: '15%',
                height: '45%'
            }, {
                left: '2%',
                right: '15%',
                top:'65%',
                height: '20%'
            }, {
                left: '2%',
                right: '15%',
                top:'90%',
                height: '7%'
            }],
            graphic: [{
                type: 'group',
                left: 'center',
                top: 70,
                width: 300,
                bounding: 'raw',
                children: [{
                    id: 'MA5',
                    type: 'text',
                    style: {fill: colorList[1], font: labelFont},
                    left: 0
                }, {
                    id: 'MA10',
                    type: 'text',
                    style: {fill: colorList[2], font: labelFont},
                    left: 'center'
                }, {
                    id: 'MA20',
                    type: 'text',
                    style: {fill: colorList[3], font: labelFont},
                    right: 0
                }]
            }],
            series: [{
                name: 'Volume',
                type: 'bar',
                xAxisIndex: 1,
                yAxisIndex: 1,
                itemStyle: {
                    color: '#ff9933'
                },
                data: volumes
            }, {
                name: 'sell',
                type: 'line',
                xAxisIndex: 1,
                yAxisIndex: 1,
                itemStyle: {
                    color: '#14B143'
                },
                lineStyle:{
                    width: 1
                },
                data: sell_volumes
            }, {
                name: 'buy',
                type: 'line',
                xAxisIndex: 1,
                yAxisIndex: 1,
                itemStyle: {
                    color: '#EF232A'
                },
                lineStyle:{
                    width: 1
                },
                data: buy_volumes
            },{
                name: 'all',
                type: 'bar',
                xAxisIndex: 2,
                yAxisIndex: 2,
                itemStyle: {
                    color: '#808080'
                },
                data: all_volumes
            }, {
                type: 'candlestick',
                name: '日K',
                data: data,
                itemStyle: {
                    color: '#ef232a',
                    color0: '#14b143',
                    borderColor: '#ef232a',
                    borderColor0: '#14b143'
                }
            }, {
                name: 'MA5',
                type: 'line',
                data: dataMA5,
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    width: 1
                }
            }, {
                name: 'MA10',
                type: 'line',
                data: dataMA10,
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    width: 1
                }
            }, {
                name: 'MA20',
                type: 'line',
                data: dataMA20,
                smooth: true,
                showSymbol: false,
                lineStyle: {
                    width: 1
                }
            }]
        };
        myChart.setOption(option);
    }


    function calculateMA(dayCount, data) {
        var result = [];
        for (var i = 0, len = data.length; i < len; i++) {
            if (i < dayCount) {
                result.push('-');
                continue;
            }
            var sum = 0;
            for (var j = 0; j < dayCount; j++) {
                sum += data[i - j][1];
            }
            result.push((sum / dayCount).toFixed(2));
        }
        return result;
    }

    function gettime(t) {
        let _time = new Date(t);
        let year = _time.getFullYear();//2017
        let month = _time.getMonth() + 1;//7
        let date = _time.getDate();//10
        let hour = _time.getHours();//10
        hour = hour < 10 ? '0' + hour : hour;
        let minute = _time.getMinutes();//56
        minute = minute < 10 ? '0' + minute : minute;
        let second = _time.getSeconds();//15
        second = second < 10 ? '0' + second : second;
        return year + "年" + month + "月" + date + "日   " + hour + ":" + minute + ":" + second;//这里自己按自己需要的格式拼接
    }


    //时间选择器
    laydate.render({
        elem: '#iStartDate'
        , format: 'yyyyMMdd'
    });
    //时间选择器
    laydate.render({
        elem: '#iStartTime'
        , type: 'time'
        , format: 'HHmmss'
    });
    //时间选择器
    laydate.render({
        elem: '#iEndDate'
        , format: 'yyyyMMdd'
    });
    //时间选择器
    laydate.render({
        elem: '#iEndTime'
        , type: 'time'
        , format: 'HHmmss'
    });


    function bigCal() {
        let url = "/big" + "/cal";

        let start = $("#iStartDate").val() + $("#iStartTime").val();
        let end = $("#iEndDate").val() + $("#iEndTime").val();
        let min = $("#iMin").val();
        let last = $("#iLast").val();
        let plat = $("#iPlat").val();

        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                start: start,
                end: end,
                min: min,
                last: last,
                plat: plat
            },
            success: function (data) {
                if (data != null) {
                    let obj = data["data"];
                    $("#iBuySum").val(obj.buy);
                    $("#iSellSum").val(obj.sell);
                    $("#iSum").val(obj.buy - obj.sell);
                }
            },
            error: function (data) {
                //Do Something to handle error
                console.log("error")
            }
        });

    }

    function bigList() {
        let url = "/big" + "/list";

        let start = $("#iStartDate").val() + $("#iStartTime").val();
        let end = $("#iEndDate").val() + $("#iEndTime").val();
        let min = $("#iMin").val();
        let last = $("#iLast").val();
        let plat = $("#iPlat").val();

        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                start: start,
                end: end,
                min: min,
                plat: plat,
                last: last
            },
            success: function (data) {
                if (data != null) {
                    let arr = data["data"];
                    $("#iTable").empty();


                    $.each(arr, function (i, item) {
                        let ts = gettime(item.ts);
                        let _time = new Date(ts);
                        let minute = _time.getMinutes();//56
                        if ('sell' === item.side) {
                            let $tr = $('<tr>').append(
                                $('<td>').text(i + 1),
                                $('<td>').text(ts),
                                $('<td>').text(item.plat),
                                $('<td>').text("-"),
                                $('<td>').text("-"),
                                $('<td>').text("-"),
                                $('<td class="has-background-success">').text(item.side),
                                $('<td>').text(item.price),
                                $('<td>').text(item.amount)
                            );
                            $("#iTable").append($tr);
                        } else {
                            let $tr = $('<tr>').append(
                                $('<td>').text(i + 1),
                                $('<td>').text(ts),
                                $('<td>').text(item.plat),
                                $('<td class="has-background-danger">').text(item.side),
                                $('<td>').text(item.price),
                                $('<td>').text(item.amount),
                                $('<td>').text("-"),
                                $('<td>').text("-"),
                                $('<td>').text("-")
                            );
                            $("#iTable").append($tr);
                            if (minute % 2 === 0) {

                            }
                        }
                    });
                }
            },
            error: function (data) {
                //Do Something to handle error
                console.log("error")
            }
        });

    }

    function bigChart() {
        let url = "/big" + "/list/detail";

        let start = $("#iStartDate").val() + $("#iStartTime").val();
        let end = $("#iEndDate").val() + $("#iEndTime").val();
        let min = $("#iMin").val();
        let last = $("#iLast").val();
        let plat = $("#iPlat").val();

        $.ajax({
            url: url,
            type: "get", //send it through get method
            data: {
                start: start,
                end: end,
                min: min,
                plat: plat,
                last: last
            },
            success: function (data) {
                k(data);
            },
            error: function (data) {
                console.log('error \n' + data.toString())
            }
        });
    }

    $("#ibQuery").click(function () {
        bigList();
        bigCal();
        bigChart();
    })
</script>

</body>
</html>