<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="http://q46j5cesa.bkt.clouddn.com/bulma-calendar.min.css">
    <link rel="stylesheet" href="http://q46j5cesa.bkt.clouddn.com/bulma.min.css">

    <script type="text/javascript" src="http://q46j5cesa.bkt.clouddn.com/all.js"></script>
    <script type="text/javascript" src="http://q46j5cesa.bkt.clouddn.com/bulma-calendar.min.js"></script>
    <script type="text/javascript" src="http://q46j5cesa.bkt.clouddn.com/jquery-1.11.1.js"></script>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <img src="images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                首页
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<section class="section" id="iSelect">
    <div class="container ">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">筛选</label>
            </div>
            <div class="field-body">
                <!--
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input is-radiusless" type="text" placeholder="代码：000001.SZ">
                                    </p>
                                </div>
                -->
                <div class="field">
                    <p class="control is-rounded">
                        <input id="iDate" class="input" type="date" placeholder="开始日期">
                    </p>
                </div>
                <div class="field">
                    <button class="button is-primary control" id="ibQuery">
                        确认
                    </button>
                    <button class="button is-primary control" id="ibGen">
                        生产数据
                    </button>
                </div>
            </div>
        </div>

    </div>


</section>


<section class="section" id="iResult">
    <div class="container">
        <table class="table is-striped is-hoverable is-fullwidth ">
            <thead>
            <tr>
                <th>#</th>
                <th>代码</th>
                <th>名字</th>
                <th>K</th>
                <th>D</th>
                <th>J</th>
                <th>收盘</th>
                <th>日期</th>
                <th>背离</th>
                <th>链接</th>
            </tr>
            </thead>
            <tbody id="iTable">
            </tbody>
        </table>
    </div>


</section>

<script type="text/javascript">
    // Initialize all input of type date
    var calendars = bulmaCalendar.attach('[type="date"]', {
        type: "date",
        color: "danger",
        isRange: false,
        displayMode: "default"
    });

    // Loop on each calendar initialized
    for (var i = 0; i < calendars.length; i++) {
        // Add listener to date:selected event
        calendars[i].on('select', date => {
            console.log(date);
        });
    }

    // To access to bulmaCalendar instance of an element
    var element = document.querySelector('#my-element');
    if (element) {
        // bulmaCalendar instance is available as element.bulmaCalendar
        element.bulmaCalendar.on('select', function (datepicker) {
            console.log(datepicker.data.value());
        });
    }

    $("#ibQuery").click(function () {
        let url = "/stock" + "/kdj/day/list";
        let date = $("#iDate").val();
        if (date.length === 0) {
            let now = new Date()
            let formatted_date = now.getFullYear()  +""+ (now.getMonth() + 1) +""+ now.getDate();
            url = url + "?day=" + formatted_date;
        } else {
            let strings = date.split("/");
            date = strings[2] + strings[0] + strings[1];
            url = url + "?day=" + date;
        }


        $.get(url, function (data) {
            // alert(JSON.stringify(data));
            // let apiResult = JSON.parse(data);
            if (data != null) {
                let arr = data["data"];
                $("#iTable").empty();
                $.each(arr, function (i, item) {
                    if (item.isBack == null) {
                        item.isBack = '否';
                    } else {
                        item.isBack = '是';
                    }

                    let codes = item.stockCode.split('.');
                    let link = "https://xueqiu.com/S/" + codes[1] + codes[0];
                    let aEle = document.createElement("a");
                    aEle.href = link;
                    aEle.text = "详情";
                    let $tr = $('<tr>').append(
                        $('<td>').text(i + 1),
                        $('<td>').text(item.stockCode),
                        $('<td>').text(item.stockName),
                        $('<td>').text(item.k),
                        $('<td>').text(item.d),
                        $('<td>').text(item.j),
                        $('<td>').text(item.close),
                        $('<td>').text(item.dataTime),
                        $('<td>').text(item.isBack),
                        $('<td>').append(aEle)
                    );
                    $("#iTable").append($tr);
                });

            }
            colorData();
        });
    })


    function colorData() {

        let iT = document.querySelector("#iTable");
        let trList = iT.querySelectorAll("tr");
        if (trList.length > 0) {
            for (let j = 0; j < trList.length; j++) {
                let tdList = trList[j].querySelectorAll("td");
                let reg = /^[-]?[\d|\.]*$/;
                for (let i = 0; i < tdList.length; i++) {
                    let textContent = tdList[i].textContent;
                    if (i > 5 || i < 3 ) {
                        if (i===8){
                            if (textContent === '是'){
                                tdList[i].setAttribute("class", "has-background-danger");
                            }
                        }
                        continue;
                    }



                    let b = reg.test(textContent);
                    if (b) {
                        let number = parseFloat(textContent);
                        console.log(textContent + '-' + number);
                        if (number <= 5) {
                            tdList[i].setAttribute("class", "has-background-danger");
                        } else if (number <= 10 && number > 5) {
                            tdList[i].setAttribute("class", "has-background-warning");
                        } else if (number <= 15 && number > 10) {
                            tdList[i].setAttribute("class", "has-background-success");
                        }
                    }

                }
            }

        }


    }

    $("#ibGen").click(function () {
        alert("每日会自动生成数据")
        /*
        let url = "/stock" + "/kdj/day/list/gen?k=10&d=10&j=10";
        $.get(url, function (data) {
            alert(JSON.stringify(data));
        });

         */
    })

</script>
</body>
</html>